{% extends 'core/base-template.html' %}

{% block content %}
<link rel="stylesheet" href="../../../../static/css/form.css">
<style>
    h1,h2{color:white;}
</style>

<body class="bg-dark">
    <div class="container col-lg-4">
        <div class="card shadow-lg bg-dark text-white border-light rounded-lg mt-5" style="text-align:center; ">
            <div class=" card-header">
                <h1>Delete SENSOR {{sensor.id}}</h1>
            </div>
            <h2>Are you sure?</h2>
            <form action="" method="POST">
                {% csrf_token %}
                <a href="{% url 'sensor' sensor.id %}" class="btn btn-danger">No, keep it</a>
                <button type="submit" class="btn btn-success">Yes, delete it</button>
            </form>
        </div>
    </div>
</body>
{% endblock content %}



