<head>
    <link rel="stylesheet" href="project\static\css\footer.css">
</head>
<br><br>
<footer class="py-2 text-white bg-dark mt-auto fixed-bottom">
  <div class="container-fluid px-4">
      <div class="d-flex align-items-center justify-content-between small">
          <div class="text-muted">Copyright &copy; TPMS 2021</div>
          <div>
              <a href="#" style="color: white;">Privacy Policy</a>
              &middot;
              <a href="#" style="color: white;">Terms &amp; Conditions</a>
          </div>
      </div>
  </div>
</footer>