{% extends 'core/base-template.html' %}

{% block content %}

<style>
    a{
        color: white; 
    }
</style>
<div class="container">

    <h1>TIRE Home Page</h1>
    <div style="text-align: right;">
        <a class="btn btn-dark" href="{% url 'edit-tire' tire.id %}">Edit</a>
        <a class="btn btn-dark" href="{% url 'delete-tire' tire.id %}">Delete</a>
    </div>
    <h2>ID: {{tire.id}}</h2>

    <h4>remaining life: {{tire.remaining_life}}</h4>
    <h4>baseline pressure: {{tire.baseline_pressure}}</h4>
    <h4>fill material: {{tire.fill_materiale}}</h4>
    <h4>tread depth: {{tire.distance_driven}}</h4>
    <h4>revolutions: {{tire.revolutions}}</h4>
  
    <h3>Tire Sensor</h3>
    <table class="table table-dark table-striped">
    <thead>
        <tr>
        <th scope="col">Sensor ID</th>
        <th scope="col">Temperature</th>
        <th scope="col">Pressure</th>
        <th scope="col">Remaining  Battery</th>
        <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        {% if tire.sensor is None %}
        <th>MISSING SENSOR</th>
        {% else %}  
        <th scope="row"><a href="{% url 'sensor' tire.sensor.id %}">{{tire.sensor.id}}</a></th>
        <td>{{tire.sensor.temperature}}</td>
        <td>{{tire.sensor.pressure}}</td>
        <td>{{tire.sensor.remaning_battery}}</td>
        <td>{{tire.sensor.status}}</td>
        </tr>  
        {% endif %}    
              
    </tbody>
    </table>

</div>




{% endblock content %}



