{% extends 'core/base-template.html' %}

{% block content %}


<div class="container">

    <h1>Delete SENSOR {{sensor.id}}</h1>
    <h2>Are you sure to delete it?</h2>
    <div class="row">
        <div class="col-6">
            <form action="" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Yes, delete it</button>
            </form>
        </div>
        <div class="col-6">
            <a href="{% url 'sensor' sensor.id %}">No, keep it</a>
        </div>
    </div>

</div>

{% endblock content %}



