{% extends 'core/base-template.html' %}

{% block content %}

<body class="bg-dark">

<div class="container">

    <h1>SENSOR Page</h1>
    <div style="text-align: right;">
        <a  class="btn btn-dark"href="{% url 'edit-sensor' sensor.id %}">Edit</a>
        <a class="btn btn-dark"href="{% url 'delete-sensor' sensor.id %}">Delete</a>
    </div>
    <h2>ID: {{sensor.id}}</h2>

    <h4>temperature: {{sensor.temperature}}</h4>
    <h4>pressure: {{sensor.pressure}}</h4>
    <h4>remaining battery: {{sensor.remaining_battery}}</h4>
    <h4>status: {{sensor.status}}</h4>

</div>
</body>



{% endblock content %}



