{% extends 'core/base-template.html' %}
<link ref=" ../../../../static/css/main.css" type="stylesheet">

{% block content %}
<body class="bg-dark">
<div class="container-fluid col-sm">
    <h1>All Tires of {{fleet_manager.company}}</h1>

    <table class="table table-light table-striped" id="sortTable">
    <thead>
        <tr>
        <th scope="col">Id</th>
        <th scope="col">Status</th>
        <th scope="col">Vehicle</th>
        <th scope="col">Remaining_life</th>
        <th scope="col">Baseline Pressure</th>
        <th scope="col">Fill Material</th>
        <th scope="col">Tread Depth</th>
        <th scope="col">Revolutions</th>
        <th scope="col">Creation Datetime</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for tire in tires %}
            <tr>
            <th scope="row"><a class="table" href="{% url 'tire' tire.id%}">{{tire.id}}</a></th>
            <td>{% include "core/status-icon.html" with status=tire.getStatusStatus motivation=tire.getStatusMotivation %}</td>
            <td>{{tire.getVehicleThatMountIt.id}}</td>
            <td>{{tire.remaining_life}}</td>
            <td>{{tire.baseline_pressure}}</td>
            <td>{{tire.fill_material}}</td>
            <td>{{tire.tread_depth}}</td>
            <td>{{tire.revolutions}}</td>
            <td>{{tire.creation_datetime}}</td>
            <td><a class="table" href="{% url 'edit-tire' tire.id %}">Edit</a></td>
            <td><a class="table" href="{% url 'delete-tire' tire.id %}">Delete</a></td>
            </tr>
        {% endfor %}
        
    </tbody>
    </table>
    
</div>
</body>

{% endblock content %}



