{% extends 'core/base-template.html' %}

{% block content %}

<div class="container">
    <h1>All Sensors of {{fleet_manager.company}}</h1>

    <table class="table table-dark table-striped" id="sortTable">
    <thead>
        <tr>
        <th scope="col">Id</th>
        <th scope="col">Temperature</th>
        <th scope="col">Pressure</th>
        <th scope="col">Remaning Battery</th>
        <th scope="col">Status</th>
        <th scope="col">Creation Datetime</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for sensor in sensors %}
            <tr>
            <th scope="row">{{sensor.id}}</th>
            <td>{{sensor.temperature}}</td>
            <td>{{sensor.pressure}}</td>
            <td>{{sensor.remaning_battery}}</td>
            <td>{{sensor.status}}</td>
            <td>{{sensor.creation_datetime}}</td>
            <td><a href="{% url 'edit-sensor' sensor.id %}">Edit</a></td>
            <td><a href="{% url 'delete-sensor' sensor.id %}">Delete</a></td>
            </tr>
        {% endfor %}
        
    </tbody>
    </table>
    
</div>

{% endblock content %}



