{% extends 'core/base-template.html' %}

{% block content %}

<body class="bg-dark">

    <div class="container-fluid px-4">

        <h1 class="text-white">Edit VEHICLE{{vehicle.id}}</h1>
    
        
                   
                <form action="" method="POST">
                    {% csrf_token %}
                   
                   
                    <div class="card">
                        <div class="card-body">

                            {{form.as_p}}
                            
                            <a class = "btn btn-dark" href="{% url 'vehicle' vehicle.id %}">Don't save it</a>
                            <button type="submit" class="btn btn-success">Save it</button>
                        </div>
                    </div>
                    
                
                
                    
                    
                </form>
            
            
                
            </div>
        </div>
    
    </div>
    
    {% endblock content %}



</body>
    
    







