{% extends 'core/base-template.html' %}

{% block content %}

<style>
    #map{
        height: 400px;
        width: 50%;
        float: right;
        margin-bottom: 2em;
        margin-left: 2em;
    }
    a{
        color: black;
    }
</style>

<head>
    <div class="container-fluid px-4">
        <h1 class="text-white">{{vehicle.id}} Information Page</h1>
        <div style="text-align: right;" class="">
            <div style="text-align: right;">
                <button class="btn btn-light" onclick="location.href='{% url 'edit-vehicle' vehicle.id %}'"><i class="fas fa-wrench"></i> Edit</button>
                <button class="btn btn-light" onclick="location.href='delete-vehicle'"><i class="fas fa-trash-alt"></i> Delete</button>
                <button class="btn btn-light" onclick="location.href='add-tire'"><i class="fas fa-plus"></i> Add Tire</button>
            </div>
        </div>
    </div>
</head>

<body class="bg-dark">
        
    <div class="container-fluid px-4"> 
        
        <br>
        <div id="map" style="text-align: right;width: 50%;"></div>
        <div>
            <div class="card ">
                <div class="card-body">
                    <ul class="list-group ">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                          Company:
                          <span class="badge bg-primary rounded-pill">{{vehicle.company}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                          Model
                          <span class="badge bg-primary rounded-pill">{{vehicle.model}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                          Consumed Fuel:
                          <span class="badge bg-primary rounded-pill">{{vehicle.consumed_fuel}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Ambient Temperature:
                            <span class="badge bg-primary rounded-pill">{{vehicle.ambient_temperature}}</span>
                          </li>
                          <li class="list-group-item d-flex justify-content-between align-items-center">
                            Machine Hours Loaded:
                            <span class="badge bg-primary rounded-pill">{{vehicle.machine_hours_loaded}}</span>
                          </li>
                          <li class="list-group-item d-flex justify-content-between align-items-center">
                            Distance Driven Empty:
                            <span class="badge bg-primary rounded-pill">{{vehicle.distance_driven_empty}}</span>
                          </li>
                          <li class="list-group-item d-flex justify-content-between align-items-center">
                            Distance Driven Loaded:
                            <span class="badge bg-primary rounded-pill">{{vehicle.distance_driven_loaded}}</span>
                          </li>
                          <li class="list-group-item d-flex justify-content-between align-items-center">
                            Payload Empty:
                            <span class="badge bg-primary rounded-pill">{{vehicle.payload_empty}}</span>
                          </li>
                          <li class="list-group-item d-flex justify-content-between align-items-center">
                            Payload Loaded:
                            <span class="badge bg-primary rounded-pill">Payload Loaded: {{vehicle.payload_loaded}}</span>
                          </li>
                      </ul>
                </div>
            
            </div>
            
        </div>

        <table class="table table-light table-striped table-bordered">
            <thead>
                <tr>
                <th scope="col">POSITION</th>
                <th scope="col">Tire ID</th>
                <th scope="col">Sensor ID</th>
                <th scope="col">TEMPERATURE</th>
                <th scope="col">PRESSURE</th>
                <th scope="col">remaining life</th>
                <th scope="col">baseline pressure</th>
                <th scope="col">fill material</th>
                </tr>
            </thead>
            <tbody>
                {% include "user/vehicle/tire-row.html" with tire=vehicle.tire_left_front pos='Front Left' %}
                {% include "user/vehicle/tire-row.html" with tire=vehicle.tire_left_rear pos='Rear Left' %}
                {% include "user/vehicle/tire-row.html" with tire=vehicle.tire_right_front pos='Front Right' %}
                {% include "user/vehicle/tire-row.html" with tire=vehicle.tire_right_rear pos='Rear Right' %}
            </tbody>    
        </table>
    
</body>

<script>
    function initMap(){
    // the settings for the map, its the second argument
              
        var snailTrailCoords = [];
        {% for location in locations  %}

            snailTrailCoords.push({lat:{{location.latitude}}, lng:{{location.longitude}} })
            
        {% endfor %}
        var cent = new google.maps.LatLng(snailTrailCoords[snailTrailCoords.length-1]);
        var options = {
            zoom:16,
            center:cent
        }
            
        //{lat:59.6186, lng: 16.5404},
        //{lat:59.60, lng: 16.53}
            
        var map = new google.maps.Map(document.getElementById('map'),options);

            
        //add marker for the last SnailTrailCoordinate
        addMarker(snailTrailCoords[snailTrailCoords.length-1].lat,snailTrailCoords[snailTrailCoords.length-1].lng);

        var snailTrail = new google.maps.Polyline({
            path: snailTrailCoords,
            geodesic: true,
            strokeColor: "#FF0000",
            strokeOpacity: 1.0,
            strokeWeight: 2,
        });

        snailTrail.setMap(map);
            

        function addMarker(lat,long) {
            var lat = lat;
            var long = long;
            var latlong = new google.maps.LatLng(lat,long);

        
            var marker = new google.maps.Marker({
                position: latlong,
                map:map
            });
        }
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBV2H0qKkBVZNpOeoVnmmn8h-vC3pOY1Wk&callback=initMap"></script>

{% endblock content %}