{% extends 'core/base-template.html' %}

{% block content %}


<div class="container">
    <style>
        #map{
            height: 400px;
            width: 50%;
            float: right;
            margin-bottom: 2em;
            margin-left: 2em;
        }
    </style>

    <h1>VEHICLE Information Page</h1>
    <a href="{% url 'edit-vehicle' vehicle.id %}">Edit</a>
    <a href="{% url 'delete-vehicle' vehicle.id %}">Delete</a>

    <h2>ID: {{vehicle.id}}</h2>
    <div id="map"></div>

    <h4>company: {{vehicle.company}}</h4>
    <h4>model: {{vehicle.model}}</h4>
    <h4>ambient temperature: {{vehicle.ambient_temperature}}</h4>
    <h4>consumed fuel: {{vehicle.consumed_fuel}}</h4>
    <h4>distance driven empty: {{vehicle.distance_driven_empty}}</h4>
    <h4>distance driven loaded: {{vehicle.distance_driven_loaded}}</h4>
    <h4>machine hours empty: {{vehicle.machine_hours_empty}}</h4>
    <h4>machine hours loaded: {{vehicle.machine_hours_loaded}}</h4>
    <h4>payload empty: {{vehicle.payload_empty}}</h4>
    <h4>payload loaded: {{vehicle.payload_loaded}}</h4>
    
    <h3>Vehicle Tires</h3>
    
    <table class="table table-dark table-striped">
    <thead>
        <tr>
        <th scope="col">Tire ID</th>
        <th scope="col">Sensor ID</th>
        <th scope="col">TEMPERATURE</th>
        <th scope="col">PRESSURE</th>
        <th scope="col">remaining life</th>
        <th scope="col">baseline pressure</th>
        <th scope="col">fill material</th>
        </tr>
    </thead>
    <tbody>
        {% for tire in tires %}       
            <tr>
            <th scope="row"><a href="{% url 'tire' tire.id %}">{{tire.id}}</a></th>
            {% if tire.sensor is None %}
                <td>MISSING SENSOR</td>
            {% else %}  
            <td><a href="{% url 'sensor' tire.sensor.id %}">{{tire.sensor.id}}</a></td>
            <td>{{tire.sensor.temperature}}</td>
            <td>{{tire.sensor.pressure}}</td>
            <td>{{tire.remaining_life}}</td>
            <td>{{tire.baseline_pressure}}</td>
            <td>{{tire.fill_material}}</td>
            </tr>
            {% endif %}
        {% endfor %}
        
    </tbody>
    </table>

    <script>
            function initMap(){
              // the settings for the map, its the second argument
              var options = {
                  zoom:16,
                  center:{lat:{{location.latitude}},lng:{{location.longitude}}}
              }
              var map = new google.maps.Map(document.getElementById('map'),options);

              addMarker({{location.latitude}},{{location.longitude}});
              

              function addMarker(lat,long) {
              var lat = lat;
              var long = long;
              var latlong = new google.maps.LatLng(lat,long);

            
            var marker = new google.maps.Marker({
              position: latlong,
              map:map
            });
        }

            }
            

    </script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBV2H0qKkBVZNpOeoVnmmn8h-vC3pOY1Wk&callback=initMap">
    </script>

</div>




{% endblock content %}



