<!--Table-->   
<div class="card mb-4">
   <div class="card-header">
       <h2 class="table">My Vehicles</h2>
   </div>
   <table class="table table table" id="sortTable">
       <thread>
           <tr>
               <th scope="col">Vehicle (ID)</th>
               <th scope="col">Status</th>
               <th scope="col">Type</th>
               <th scope="col"><i class="fas fa-wrench"></i> Edit</th>
               <th scope="col"><i class="fas fa-trash-alt"></i> Delete</th>
           </tr>
       </thread>
       <tbody>
           <tr>
               {% for vehicle in vehicles %}
               <tr>
               <th scope="row"><a class="table"href="{% url 'vehicle' vehicle.id%}" >{{vehicle.id}}</a></th>
               <td>{% include "core/status-icon.html" with status=vehicle.getStatusStatus motivation=vehicle.getStatusMotivation %}</td>
               <td>{{vehicle.getType}}</td>
               <td><a class="table"href="{% url 'edit-vehicle' vehicle.id %}"><i class="fas fa-wrench"></i></a></td>
               <td><a class="table"href="{% url 'delete-vehicle' vehicle.id %}"><i class="fas fa-trash-alt"></i></a></td>
               </tr>
               {% endfor %}
           </tr>
       </tbody>
   </table>
</div>
<!--Table Ends-->