{% extends 'core/base-template.html' %}

{% block content %}


<div class="container">
    <h1>Fleet Manager Home Page</h1>

    <h3>My Vehicles</h3>
    
    <table class="table table-dark table-striped">
    <thead>
        <tr>
        <th scope="col">ID</th>
        <th scope="col">Model</th>
        <th scope="col">Sensor 1</th>
        <th scope="col">Sensor 2</th>
        <th scope="col">Sensor 3</th>
        <th scope="col">Sensor 4</th>
        </tr>
    </thead>
    <tbody>
        {% for vehicle in vehicles %}
            <tr>
            <th scope="row"><a href="{% url 'vehicle' vehicle.id%}">{{vehicle.id}}</a></th>
            <td>{{vehicle.model}}</td>
            
            <td>ibi</td>
            <td>@mdo</td>
            <td>Otto</td>
            <td>@mdo</td>
            </tr>
        {% endfor %}
        
    </tbody>
    </table>
    
</div>




{% endblock content %}



