{% extends 'core/base-template.html' %}

{% block content %}

<div class="container">
    <h1>Fleet Manager Home Page</h1>
    <h3>Company: {{fleet_manager.company}}</h3>
    <div class="row">
        <div class="col-sm">
            <h4>Vehicles: {{vehicles.count}}</h4>
        </div>
        <div class="col-sm">
            <h4>Tires: {{tires_num}}</h4>
        </div>
        <div class="col-sm">
            <h4>Sensors: {{sensor_num}}</h4>
        </div>
    </div>
    <h4><a href="{% url 'add-vehicle' %}">Add a new Vehicle</a></h4>
    <h4><a href="{% url 'add-tire' %}">Add a new Tire</a></h4>
    <h4><a href="{% url 'add-sensor' %}">Add a new Sensor</a></h4>

    <!-- HAVE TO IMPLEMENT THE CHOICE BEETWEEN SIMPLE AND EXTENDED VIEW -->
    {% if True %}
    {% endif %}
    
</div>

{% endblock content %}



