{% extends 'core/base-template.html' %}

{% block content %}

<div class="container">

  <h1>Fleet Manager Overview</h1>

  <div style="text-align: right;">
    <button class="btn btn-dark" onclick ="location.href='add-vehicle'"><i class="fas fa-plus"></i> Add new Vehicle</button>
    <button class="btn btn-dark" onclick ="location.href='add-tire'"><i class="fas fa-plus"></i> Add new Tire</button>
    <button class="btn btn-dark" onclick ="location.href='add-sensor'"><i class="fas fa-plus"></i> Add new Sensor</button>
    <button class="btn btn-dark" onclick = "location.href='home'">Simple View</button> 
  </div>

  <!--I do not quite know why this is not writing out the same as in simple view, it is the same code... just copied. -->
  <h3>Company: {{fleet_manager.company}}</h3>
  <div class="row">
      <div class="col-sm">
          <h4>Vehicles: {{vehicles.count}}</h4>
      </div>
      <div class="col-sm">
          <h4>Tires: {{tires_num}}</h4>
      </div>
      <div class="col-sm">
          <h4>Sensors: {{sensor_num}}</h4>
      </div>
  </div>

  

  <h2>My Vehicles (EXTENDED View)</h2>

    <!--For now this doesn't work with for loops this is troubling for the onclick... or maybe just the script code-->
    <table class="table table-dark table-striped" id="sortTable">
    <thead>
        <tr>
        <th onclick="sortTable(0)"scope="col">Vehicle (ID)</th> <!--The data should show the vehicle ID, static, non pressable button?-->
        <th onclick="sortTable(1)"scope="col">Model</th> <!--This would be the model of the vehicle - Hauler or Wheel loader. when pressed order by model, either all the hauler shows first or the other way-->
        <th onclick="sortTable(2)"scope="col">Biggest / most active</th> <!--The data should show the biggest/most active machine, every vehicle should have a sie or an activity timer? when pressed order by highest value-->
        <th onclick="sortTable(3)"scope="col">Sensor battery</th> <!-- Sensor Battery, the data should show every sensor and which is most likely to run out of battery when pressed the lowest battery number should show highest-->
        <th onclick="sortTable(4)"scope="col">Lifespan of tire</th> <!-- Lifespan of tire, the data should show the tire that is going to break fastest, when pressed the tire date to end closest to todays date should show highest in list-->
        <th scope="col"><i class="fas fa-wrench"></i> Edit</th>
        <th scope="col"><i class="fas fa-trash-alt"></i> Delete</th>
        </tr>
    </thead>
    <tbody>
      <!--This must be done for each tire or something. that way we get all the tires. then the data should show for each tire, that tire vehicle ID and that tire sensor data and so on-->
        {% for vehicle in vehicles %}
            <tr>
            <th scope="row"><a href="{% url 'vehicle' vehicle.id%}" style="color: white;">{{vehicle.id}}</a></th>

            {% if vehicle.model is "" %}
                <td>NULL</td>
            {% else %}
                <td>{{vehicle.model}} </td>
            {% endif %}

            <td>{{vehicle.machine_hours}}</td>
            <!--These I want to get vertically than horisontally.. and then its vehicle ID should be duplicated... Get another way of thinking -->
            {% for tire in vehicle.tires.all%}

            <td>{{tire.sensor.remaining_battery}}</td>

            <td>{{tire.remaining_life}}</td>
            {%endfor%}
            
            <td><a href="{% url 'edit-vehicle' vehicle.id %}"><i class="fas fa-wrench" style="color: white"></i></a></td>
            <td><a href="{% url 'delete-vehicle' vehicle.id %}"><i class="fas fa-trash-alt" style="color:white"></i></a></td>
            </tr>
        {% endfor %}
        


        <!--

          <tr> 
    <th scope="row">{{pos}}</a></th>
    {% if tire is None %}
        <td>MISSING TIRE</td>
    {% else %}
        <td><a href="{% url 'tire' tire.id %}">{{tire.id}}</a></td>    
        {% if tire.sensor is None %}
            <td>MISSING SENSOR</td>
        {% else %}  
            <td><a href="{% url 'sensor' tire.sensor.id %}">{{tire.sensor.id}}</a></td>
            <td>{{tire.sensor.temperature}}</td>
            <td>{{tire.sensor.pressure}}</td>
            <td>{{tire.remaining_life}}</td>
            <td>{{tire.baseline_pressure}}</td>
            <td>{{tire.fill_material}}</td>
        {% endif %}
    {% endif %}
</tr>

        -->
    </tbody>
    </table>
    
</div>

<script>
    function sortTable(n) {
     // Set the sorting direction to ascending:
    var table=document.getElementById("sortTable"), rows, switching= true, i, x, y, shouldSwitch, dir= "asc", switchcount = 0;
    /* Make a loop that will continue until
    no switching has been done: */
    while (switching) {
      // Start by saying: no switching is done:
      switching = false;
      rows = table.rows;
      /* Loop through all table rows (except the
      first, which contains table headers): */
      for (i = 1; i < (rows.length - 1); i++) {
        // Start by saying there should be no switching:
        shouldSwitch = false;
        /* Get the two elements you want to compare,
        one from current row and one from the next: */
        x = rows[i].getElementsByTagName("TD")[n];
        y = rows[i + 1].getElementsByTagName("TD")[n];
        /* Check if the two rows should switch place,
        based on the direction, asc or desc: */
        if (dir == "asc") {
          if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
            // If so, mark as a switch and break the loop:
            shouldSwitch = true;
            break;
          }
        } else if (dir == "desc") {
          if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
            // If so, mark as a switch and break the loop:
            shouldSwitch = true;
            break;
          }
        }
      }
      if (shouldSwitch) {
        /* If a switch has been marked, make the switch
        and mark that a switch has been done: */
        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
        switching = true;
        // Each time a switch is done, increase this count by 1:
        switchcount ++;
      } else {
        /* If no switching has been done AND the direction is "asc",
        set the direction to "desc" and run the while loop again. */
        if (switchcount == 0 && dir == "asc") {
          dir = "desc";
          switching = true;
        }
      }
    }
  }</script>


{% endblock content %}



