<!--Warning Cards-->
<div class="row">
    <div class="col-xl-4 col-md-4">
        <div class="card bg-warning text-white mb-4">
            <div class="card-body" style="text-align:center;">Warning Card</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <div class="container">
                    <div class="accordion">
                        <a class=" text-white accordion-button collapsed" data-bs-toggle="collapse" href="#collapse1" style=" background-color:transparent; float:right;  padding:0;" >View Details</a>
                        <div class="accordion-collapse collapse" id="collapse1" style>
                                <div class="card card-body container bg-warning">
                                    <!--I think it was the for loop that makes the bug, that is not async and will therefore not wait for it to be done and render too much space and therefore it will look like it exapnd too much -->
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-xl-4 col-md-4">
        <div class="card bg-danger text-white mb-4">
            <div class="card-body" style="text-align:center;">Danger Card</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <div class="container">
                    <div class="accordion">
                        <a class="small text-white stretched-link accordion-button collapsed" type="link" data-bs-toggle="collapse" href="#collapse2" style=" background-color:transparent; float:right;  padding:0;" >View Details</a>
                        <div class="accordion-collapse collapse" id="collapse2" style>
                            <div class ="accoridon-body">
                                <div class="card card-body container bg-danger">
                                    <!--I think it was the for loop that makes the bug, that is not async and will therefore not wait for it to be done and render too much space and therefore it will look like it exapnd too much -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-4 col-md-4">
        <div class="card bg-info text-white mb-4">
            <div class="card-body" style="text-align:center;">Inventory</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <div class="container">
                    <div class="accordion">
                        <a class="small text-white stretched-link accordion-button collapsed" type="link" data-bs-toggle="collapse" href="#collapse3" style=" background-color:transparent; float:right;  padding: 0;" >View Details</a>
                        <div class="accordion-collapse collapse" id="collapse3" style>
                            <div class ="accoridon-body">
                                <div class="card card-body container bg-info">
                                    <!--I think it was the for loop that makes the bug, that is not async and will therefore not wait for it to be done and render too much space and therefore it will look like it exapnd too much -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Warning Cards Ends-->