{% extends 'core/base-template.html' %}
{% block content %}

<body class="bg-dark">
    
<!--Info of Overview--> 
<div class="container-fluid px-4" >
   <div class="card-sm">
        <div class="card-body">
            <div style="text-align: right;">
                <button class="btn btn-light" onclick="location.href='add-vehicle'"><i class="fas fa-plus"></i> Add Vehicle</button>
                <button class="btn btn-light" onclick="location.href='add-tire'"><i class="fas fa-plus"></i> Add Tire</button>
                <button class="btn btn-light" onclick="location.href='add-sensor'"><i class="fas fa-plus"></i> Add Sensor</button>
            </div>
            <h1 class="text-white">Fleet Manager Overview</h1>
            <h3 class="text-white">Company: {{fleet_manager.company}}</h3>
            <div class="row">
                <div class="col-sm">
                    <h4 class="text-white">Vehicles: {{vehicles.count}}</h4>
                </div>
                <div class="col-sm">
                    <h4 class="text-white"><a href="{% url 'all-tires' %}">Tires: {{tires_num}}</a></h4>
                </div>
                <div class="col-sm">
                    <h4 class="text-white"><a href="{% url 'all-sensors' %}">Sensors: {{sensors_num}}</a></h4>
                </div>
            </div>
        </div>
    </div>

    {% include 'user/home-cards.html' %}

    {% include 'user/home-vehicles-table.html' %}
</div>
 


</body>

{% endblock content %}